h1 Blackview A8 MAX 
	span Фантастическая мощь 
	span по супер цене			
ul
	li Процессор - 
		span 4 ядра 1.3GHz
	li Память - 
		span RAM 2Гб / ROM	16Гб
	li Экран - 
		span 5.5 HDips 720*1280
	li Камера - 
		span 8Мп / 5Мп
	li Android 6.0 | 2 SIM | 4G	LTE | 3000мАч
div.site-header__price 5 500 &#8381;