section#s5.big-section.big-section_grey
	div.container
		div.row.wow.fadeInUp.animated(data-wow-offset="220", data-wow-duration="2s")
			div.col-md-6
				div.video
					div.embed-responsive.embed-responsive-16by9
						iframe.embed-responsive-item(width="854" height="480" src="https://www.youtube.com/embed/3uUMJcRnnuU" frameborder="0" embed-responsive-item)
			div.col-md-6
				include ../0-independent-blocks/section-header/_left/section-header_left.pug				
				+section-header_left('Официальный обзор')

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita omnis nesciunt, modi autem nihil possimus culpa! Debitis soluta velit quidem, amet totam, nihil facere libero, iusto voluptate voluptatem quos reiciendis.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus vel ea facere fugit cumque excepturi recusandae aliquam sed soluta in, error ex dolorem assumenda quaerat, eos molestias rem consequatur dolorum.