section#s6.big-section.testimonials
	div.container
		div.row
			div.col-md-12
				include ../0-independent-blocks/section-header/section-header.pug				
				+section-header('Другие модели', 'Максимальная защита')
		
		div.row.text-center
			div.col-md-4
				img.img-responsive(src="images/section6__01.jpg" alt="Blackview BV8000 Pro")
				h4 Blackview BV8000 Pro

			div.col-md-4
				img.img-responsive(src="images/section6__02.jpg" alt="Blackview BV6000")
				h4 Blackview BV6000

			div.col-md-4
				img.img-responsive(src="images/section6__03.jpg" alt="Blackview BV6000S")
				h4 Blackview BV6000S