section#s4.big-section
	div.container
		div.row
			div.col-md-6.wow.fadeInLeft.animated(data-wow-offset="220", data-wow-duration="2s")
				include ../0-independent-blocks/section-header/_left/section-header_left.pug		
				+section-header_left('A8 MAX - Игры')

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis est quis molestias, quisquam molestiae assumenda officia porro rem perspiciatis voluptatem, dolore commodi laboriosam ad! Voluptas mollitia reiciendis, eos quam perferendis?  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto provident non voluptatibus animi quidem incidunt eum, eligendi doloribus dicta, quasi repellat libero voluptate est! Enim ducimus molestias, culpa distinctio est.

				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae saepe animi, facilis facere aliquam ab tempora sapiente impedit labore quisquam sunt eligendi, alias placeat eveniet beatae provident incidunt officia, at.

			div.col-md-6.wow.fadeInRight.animated(data-wow-offset="220", data-wow-duration="2s")
				img.section4-img(src="/images/section4/section4.jpg" alt="A8 MAX с чипсетом MT6737")