section#s3.big-section.big-section_grey
	div.container
		div.row
			div.col-md-6.wow.fadeInRight.animated(data-wow-offset="220", data-wow-duration="2s")
				img.section3-img(src="/images/section3/section3.jpg" alt="A8 MAX с чипсетом MT6737")
			div.col-md-6.wow.fadeInLeft.animated(data-wow-offset="220", data-wow-duration="2s")
				include ../0-independent-blocks/section-header/_left/section-header_left.pug				
				+section-header_left('MT6737 - новая мощь')

				p Работающий н базе четырехядерного 64-битного чипсета MT6737 с частотой 1, Ггц, смартфон A8 MAX имеет более лучшую производительность чем другие устройства с процессором MT6737. С помощю более мощного ЦП повышаеться скорость записи и считывания жесткого дика. Благодаря такой мощной основе эффективно уменьшился расход энергии. 

				ul.feature-list
					li
						i.icon_lock_alt 
						|Reliable and Secure Platform
					li
						i.icon_check_alt2 
						|Everything is perfectly orgainized for future
					li
						i.icon_paperclip 
						|Attach large file easily
					li
						i.icon_adjust-vert 
						|Tons of features and easy to use and customize